<% provide(:title, 'О нас') %>
<h1>О нас</h1>
<p>
  Это сетевой проект, который помогает людям
высказываться и находить слушателей. Вы можете общаться с широким
кругом интересных людей или поддерживать связь с друзьями и близкими.
</p>
<p>Задача нашего приложения — в каждый отдельно взятый момент оставаться наиболее современным, быстрым и эстетичным способом общения в сети.
</p>
<p> &#11<p>
<p> &#11<p>
<p> &#11<p>
<p> &#11<p>
