<% provide(:title, 'Контакты') %>
<h1>Контакты</h1>
<p align="center">
  Если вы хотите связаться с нами вы можете вопользоваться следующими данными :
  </p>
<p align="center">
loter38@gmail.com
</p>
<p align="center"> +380 63 63 92 042 </p>
<p> &#11<p>
<p> &#11<p>
<p> &#11<p>
<p> &#11<p>

